.nav {
	position: relative;
	z-index: 99999;
	background-color: #941611;
	height: 4em;
	font-weight: bold;
}
.nav ul {
	margin: 0;
	padding: 0;
}
.nav li {
	font-size: 1.4em;
	text-transform: uppercase;
	margin-right: 0.5em;
	margin-top:0.7em;
	padding: 0;
	list-style: none;
	display: inline-block;
}
.nav a {
	padding: 0.5em 1.2em; 
	text-decoration: none;
	color: #fff;
	
}
.nav a:hover {
	background: #4A555C;
	color: #fff;
	border-radius: 0.4em;
}
.nav .current a {
	cursor:default;
	background: #4A555C;
	color: #fff;
	border-radius: 0.4em;
}
.nav.center ul {
	text-align: center;
}

@media screen and (max-width: 680px) {
.nav {
	position: relative;
	padding-top:0.3em;
}	
.nav li {
	background:#941611;
	display: none;
	margin: 0;
}
.nav .current {
	display: block;
}
.nav .current a:after {
	content: "\2630";
	position:absolute;
	right:0.2em; 
	top:0;
	font-size:2em;
	color: #fff;
}
.nav a {
	display: block;
	padding: 0.5em 0.5em 0.5em 1em;
	text-align: left;
}
.nav .current a {
	width: 5.6em;
	margin-left: 0.5em;
}
.nav ul:hover li {
	border-bottom:1px solid #aedce9;
	display: block;
	margin: 0;
}
	}	