.graficos{
	display:none; 
	margin: 0 auto; 
	width: 50%;
}


.feedback{
padding: 30px;
width:100%; 
text-align:center;
}


.texto_home{
	font-size: medium;
	border-style: solid;
	margin: 30px;
	font-family: 'Times New Roman', Times, serif;
	
}

.divLogin{
	width: 50%;
	max-width: 300px;
	float: right;
}

.divCabecalho{
	background-color: #00b7f0;
}

.caixaTexto{
	width: 30px;
	flex-direction: initial;
}

.btnEntrar, .div_graficos{
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: 1px solid #DDD;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.linksrodape{
	color: white;
}


.texto_home{
	font-size: medium;
	border-style: solid;
	margin: 30px;
	font-family: 'Times New Roman', Times, serif;
	
}

.logo{
    width: 150px;
	height: 150px;
}

.redes_sociais{
    width: 20px;
    height: 20px;
	margin-bottom: 120px;
	
}

.slide{
	width: 300px;
    height: 300px;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, 
a, ul, li, article, main, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
ul {
	list-style: none;
}

body {
	font: 62.5%/1.4 verdana, sans-serif;
}

footer {
	text-align:center;
    margin: 0;
	background: #323232;
	border-radius: 7px;
	font-size:1.2em;
	
	}
.outline {text-indent:-9999px; height:0; font-size:0;}
/* Fim área do rodapé */

@media screen and (min-width: 480px) {
header {
	height:8em;
	background-image: url(imagens/logo280x65.png), url(imagens/grama85x70.jpg);	
}

header {
	height:12em;
	border-radius:1em;
	background-position: 7em, center;
}

nav {border-radius:1em;margin-top:0.5em;}
.social {
	background:none;
	position:absolute;
	right:7em;
	top:0;
}