.graficos{
	display:none; 
	margin: 0 auto; 
	width: 50%;
}

fieldset{
	width:97%;
	text-align:left;
}

.borda{
	padding-top: 10px;
	border-color:black;
	border-radius:15px;
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 16px;
}

.texto_home{
	font-size: medium;
	border-style: solid;
	margin: 30px;
	font-family: 'Times New Roman', Times, serif;
	
}

.divLogin{
	width: 50%;
	max-width: 300px;
	float: right;
}

.divCabecalho{
	background-color: #00b7f0;
}

.caixaTexto{
	width: 30px;
	flex-direction: initial;
}

<<<<<<< HEAD
.logando{
	padding: 2px;
	margin-bottom: 1px;
	border: 1px solid #DDD;
	border-radius: 7px;
=======
.acesso{
	margin-bottom:5px;
	margin-top: 5px;
	margin-right: 15px;
}

.btnEntrar{
	margin-bottom: 2px;
	border-radius: 6px;
}

.div_graficos{
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: 1px solid #DDD;
	border-radius: 10px;
>>>>>>> 94e3a66267f380c067ff953e4021357c81a15520
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

<<<<<<< HEAD
.logando1{
	padding: 5px;
	margin-bottom: 9px;
	border: 1px;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:whitesmoke;
=======
.linksrodape{
	font-size: 15px;
	color: white;
>>>>>>> 94e3a66267f380c067ff953e4021357c81a15520
}

.botao_graficos{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #1b0447;
		margin: 5px;
		border-radius: 7px;
		width: 100px; 
		height: 60px;
}

.data{
	width: 200px;
	border-radius: 4px;
	color: #1b0447;
	margin-right: 20px;
}


.texto_home{
	font-size: medium;
	border-style: solid;
	margin: 30px;
	font-family: 'Times New Roman', Times, serif;
	
}

.logo{
	width: 250px;
	height: 150px;
	background-color:#102331;
	
	
}

.redes_sociais{
	margin-top: 10px;
	margin-right: 10px;
    width: 20px;
    height: 20px;
	margin-bottom: 50px;
	
}

.slide{
	width: 300px;
    height: 300px;
}
html, body, div, span, p, blockquote, 
a, ul, li, article, main, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
ul {
	list-style: none;
}

body {
	font: 62.5%/1.4 verdana, sans-serif;
}

footer {
	text-align:center;
    margin: 0;
	background: #323232;
	border-radius: 7px;
	font-size:1.2em;
	
	}
.outline {text-indent:-9999px; height:0; font-size:0;}
/* Fim área do rodapé */

@media screen and (min-width: 480px) {
header {
	height:8em;
	background-image: url(imagens/logo280x65.png), url(imagens/grama85x70.jpg);	
}

header {
	height:12em;
	border-radius:1em;
	background-position: 7em, center;
}

nav {border-radius:1em;margin-top:0.5em;}
.social {
	background:none;
	position:absolute;
	right:7em;
	top:0;
}